<!doctype html>
<html>
  <head>
  	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
  	<link type="text/css" href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="logonScreen">
      <h1>Clueless</h1>
		<p>Welcome to Clueless Test Interface. Please log in.</p>
		Username: <input id="userLogin"></input><button class="btn btn-small btn-primary" id="usrSubmit">Play</button>
		</div>
	
		<div id="userList" class="hidden">
		Waiting Room:
			<div id="waiting_room">
			<!-- This will be dynamically filled whenever a user enters. -->
			</div>	
			<button id="startGameBtn" class="btn btn-primary">Start Game</button>	
			<button id="removeUsr" class="btn btn-danger">Leave Game</button>
		</div>

		<div id="gameBoard" class="hidden">
			<div id="dynamicBoard">
				
			</div>
			<button id="movePlayer" class="btn btn-info">Move Player</button>
			<button id="changeTurn" class="btn btn-info">Change Turn</button>
			<button id="accuse" class="btn btn-info">Accuse</button>
			<button id="notifyBtn" class="btn btn-info">Notify</button>

		</div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/clue.js"></script>
  </body>
</html>
