<!doctype html>
<html>
  <head>
  	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
  	<link type="text/css" href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="logonScreen">
      <h1>Clueless</h1>
		<p>Welcome to Clueless. Please log in.</p>
		Username: <input id="userLogin"></input><button class="btn btn-small btn-primary" id="usrSubmit">Play</button>
		</div>
	
		<div id="gameBoard" class="hidden">
		This will be a game board...
		
		</div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/clue.js"></script>
  </body>
</html>
